{% load static tailwind_tags %} <!-- tailwind.css -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% tailwind_css %} <!-- tailwind.css -->
	<title>Document</title>
</head>
<body class="container m-auto">
	<header class="shadow-lg py-4 bg-white flex items-center w-full justify-around fixed top-0 right-0 left-0"">
		<div class="flex gap-3 items-center">
			<h1><a href="/">✅ To do</a></h1>
		</div>
		<div class="flex gap-4">
			<a href="/"><p>Home</p></a>
			<a href=""><p>Tarefas</p></a>
			<a href=""><p>Sobre</p></a>
		</div>
	</header>
	<main class="mt-20">
		{% block content %}
		{% endblock %}
	</main>
</body>
</html>